{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django syntax{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include "./header.html" %}    
    <div class="main-wrapper">
        {% block content %}
        {% endblock content %}

    </div>
    {% include "./footer.html" %}
    <script src="{% static 'js/for.js' %}"></script>  
</body>
</html>