<header>
    <nav>
        <ul>
            <li>services</li>
            <li>Testimonials</li>
            <li>Case studies</li>
            <li>Blog</li>
            <li>Pricing</li>
            <li><a href="{% url 'free:services' %}">Services"></a></li>
            <li><a href="{% url 'free:testimoials'%}">Testimonials</a></li>
            <li><a href="{% url 'free:case_studies'%}">Case_studies</a></li>
            <li><a href="{% url 'free:blog'%}">Blog</a></li>
            <li><a href="{% url 'free:pricing'%}">Pricing</a></li>
        </ul>
    </nav>
</header>
