{% extends "partials/base.html" %}
{% load static %}

{% block title %}{% endblock title %}

{% block content %}
    <h2>Welcome to my Home page</h2>
     <div class= "pic"></div>
    
   
     <div class="container">
        <div class="content">
            <h1>Welcome to McCoy's <span>Bakery</span></h1>
            <h2>Order delicious loaves and cakes for your party.</h2>
            <p>We make it. You Order it. We deliver it.</p>
                
        </div>
        
    </div>



{% endblock content %}